
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Files with credentials
users.dev.json
users.test.json
users.prod.json

# Environment variables
.env
.env.*

# Working folder
/inwork/