
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
package-lock.json

# Files with credentials
users.*.json
!users.test.json.template

# Environment variables
.env
.env.*
!.env.test.template

# Working folder
/inwork/

# Reports
/reports/
/allure-results